<h1> Welcome to StayInTouch </h1>
    <h4>
        Sign up & enjoy the benefits of Stay[ing] In Touch with others.
    </h4>
    <%= link_to "Sign Up Now!", signup_path, class: 'button btn-large btn-success' %>
