<!-- Comment this out to get the code to run...
<% provide(:title, 'Home') %>
-->

<h1> Sample App </h1>
<p>
    This is the home page for the site that I have yet to create:
    <a href="http://www.unlist.co/"> Unlist.co </a>.
</p>

